---
---

/* vim: set et sts=2 ts=2 sw=2: */

h1, h2, h3, h4, h5 {
  padding: 0.5em;
  border: none;
  margin: 0 0 0.5em 0;
}
h1 {
  font-size: 17pt;
  background: #666;
  color: white;
}
h2 {
  font-size: 15pt;
  background: #ddd;
  color: #300;
  background: -prefix-linear-gradient(top, #ddd, white);
  background: linear-gradient(to bottom, #ddd, white);
  border-radius: 10px 10px 0px 0px;
}
h3 {
  border-bottom: 1px #ddd solid;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14pt;
  padding: 0.3em 0.1em;
  color: black;
  border-radius: 10px 10px 0px 0px;
}
h4 {
  font-size: 13pt;
  padding: 0.3em 0.5em;
  color: black;
}
ul {
  padding-left: 25px;
  margin-bottom: 1.5em;
}
