/* vim: set et sts=2 ts=2 sw=2: */
body {
  line-height: 1.5;
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  font-size: 12pt;
}

.maku-breadCrumb {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10pt;
}

.maku-pageTitle {
  font-size: 18pt;
  line-height: 1.3;
  padding: 5px 10px;
  box-shadow: 0px 0px 10px #000;
}

.maku-pageDate {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 10pt;
}

.maku-content {
  clear: both;
}

h1, h2, h3, h4 { font-weight: bolder; }
h1 { font-size: 16pt; border-bottom: 2px solid #ccc;}
h2 { font-size: 14pt; }
h3 { font-size: 12pt; }
h4 { font-size: 10pt; }

a:link {
  text-decoration: none;
  border-bottom: dashed 1px;
}

img { max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 10px;
}
thead th, thead td {
  white-space: nowrap;
}
th, td {
  padding: 3px;
  border: solid 1px #999;
}

/* Adjust margins */
p {
  margin-top: 1em;
}

strong {
  font-style: normal;
  font-weight: bold;
}

/*
 * Color theme
 */
body { color: #666; }
.maku-pageTitle { color: #faa; background-color: darkred; }
.maku-pageDate { color: #666; }
h1, h2, h3, h4 { color: #333; }
strong { color: #ff8300; }
thead th, thead td { color: #555; background-color: #ccc; }
tr:nth-child(odd) { background-color: #fcfcfc; }
tr:nth-child(even) { background-color: #eeeeee; }
a:link { color: #33f; }
a:visited { color: #909; }
a:hover { background-color: #cfa; }
a:focus { color: hotpink; }
a:active { color: #ccf; background-color: #f36; }

