---
---

/* vim: set et sts=2 ts=2 sw=2: */

$COLOR_MAIN: #666;
$COLOR_HEADER: black;
$COLOR_EMPHASIS: #a00; /* #d68; */
/* $COLOR_EMPHASIS_BG: #ff9; */

$COLOR_LINK: #36f;
$COLOR_LINK_VISITED: #03c;
$COLOR_LINK_HOVER_BG: #def;
$COLOR_LINK_FOCUS_BG: #fdd;

$COLOR_CODE: #333;
$COLOR_CODE_BG: #f6f6f6;

$COLOR_PAGE_TITLE: #fdd;
$COLOR_PAGE_TITLE_BG: darkred;
$COLOR_PAGE_TITLE_CATEGORY: #faa;
$COLOR_PAGE_DATE: #666;

$COLOR_THEAD: #555;
$COLOR_THEAD_BG: #ccc;
$COLOR_TR_ODD_BG: #fcfcfc;
$COLOR_TR_EVEN_BG: #eeeeee;

$COLOR_NAV_FOCUSED: #eaeaea;

body {
  color: $COLOR_MAIN;
  line-height: 1.5;
  letter-spacing: 0.12em;
  /*
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  */
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  font-size: 12pt;

  /* Keep font size when lotating screen in Android devices */
  -webkit-text-size-adjust: 100%;
}

/* column-span は Safari でうまく表示できない */
/*
h1 {
  column-span: all;
  -moz-column-span: all;
  -webkit-column-span: all;
}
*/

h1, h2, h3, h4 {
  color: $COLOR_HEADER;
  font-weight: bolder;
  margin: 1.5em 0 1em 0;
}

h1 { font-size: 18pt; border-bottom: 2px solid $COLOR_HEADER; padding: 5px 0px; }
h2 { font-size: 16pt; border-bottom: 1px solid $COLOR_HEADER; padding: 2px 0px; }
h3 { font-size: 14pt; }
h4 { font-size: 12pt; }

li {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

a {
  font-weight: bolder;
  text-decoration: none;
  /* border-bottom: dashed 1px; */

  &:link { /* 未訪問 */
    color: $COLOR_LINK;
  }
  &:visited { /* 訪問済 */
    color: $COLOR_LINK_VISITED;
  }
  &:hover { /* マウスフォーカス */
    background-color: $COLOR_LINK_HOVER_BG;
    text-decoration: none;
  }
  &:focus { /* 選択中 */
    background-color: $COLOR_LINK_FOCUS_BG;
  }
}

img { max-width: 100%; }

code {
  color: $COLOR_CODE;
  background: $COLOR_CODE_BG;
}

table {
  border-collapse: collapse;
  margin: 10px;

  thead th, thead td {
    color: $COLOR_THEAD;
    background: $COLOR_THEAD_BG;
    white-space: nowrap;
  }

  tr {
    &:nth-child(odd) { background-color: $COLOR_TR_ODD_BG; }
    &:nth-child(even) { background-color: $COLOR_TR_EVEN_BG; }
  }

  th, td {
    padding: 3px;
    border: solid 1px #999;
  }
}

/* Adjust margins */
p {
  margin-top: 1em;
}

blockquote {
  margin-left: 1em;
}

blockquote > p {
  margin: 0;
}

dd {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

strong {
  color: $COLOR_EMPHASIS;
  /* background: $COLOR_EMPHASIS_BG; */
  font-weight: bold;
}

/*
 * 画像の中央寄せ表示するときは、
 * ![Description](filename.svg){: .center }
 * のように記述すれば OK。
 */
.center {
  margin: 0 auto;
  display: block;
}

.maku-breadCrumb {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.maku-pageHeader {
  background: $COLOR_PAGE_TITLE_BG;
  box-shadow: 0px 0px 10px #000;
  min-height: 80px;
}
  .maku-pageHeader_logo {
    float: left;
    margin: 7px;
    padding: 3px;
    width: 65px;
    height: 65px;
    background: #ffeeee;
    border-radius: 10px;
  }
  .maku-pageHeader_titleLarge {
    color: $COLOR_PAGE_TITLE;
    font-size: 28pt;
    padding-top: 10px;
  }
  .maku-pageHeader_title {
    color: $COLOR_PAGE_TITLE;
    font-size: 18pt;
  }
  .maku-pageHeader_category {
    color: $COLOR_PAGE_TITLE_CATEGORY;
    font-size: 12pt;
    padding-top: 10px;
  }

.maku-pageDate {
  color: $COLOR_PAGE_DATE;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

.maku-snsButtons {
  clear: both;
  background: gray;
}

/* 段組 */
#maku-container {
  /* フレキシブルボックスレイアウトによる段組 */
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;

  #maku-container_main {
    /* 画面幅が広い時はこの要素の横幅を拡張する */
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
  }

  #maku-container_sidebar {
    width: 250px;
    padding: 0px 30px;
  }
}

/* レスポンシブデザイン対応。幅が狭い場合は sidebar は非表示 */
@media screen and (max-width: 800px) {
  #maku-container {
    display: block;

    #maku-container_sidebar {
      display: none;
    }
  }
}

.maku-content {
  clear: both;
}

.maku-content-multi {
          column-width: 400px;
     -moz-column-width: 400px;
  -webkit-column-width: 400px;
          column-rule: dotted 2px #ccc;
     -moz-column-rule: dotted 2px #ccc;
  -webkit-column-rule: dotted 2px #ccc;
}

.maku-htmlSample {
  margin: 1em 2em;
}

/* ナビゲーションメニュー */
.maku-nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    display: block;
    text-decoration: none;
    padding: 0 0.5em;
  }
  .maku-nav-focused {
    background: $COLOR_NAV_FOCUSED;
  }
}

.maku-widget {
  clear: both;
  text-align: center;
  margin: 10px;
  padding-top: 10px;
}

