---
---

$COLOR_LINK_HOVER: #def;
$COLOR_NAV_FOCUSED: #eaeaea;

/* vim: set et sts=2 ts=2 sw=2: */
body {
  line-height: 1.5;
  /* 
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  */
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  font-size: 12pt;

  /* Keep font size when lotating screen in Android devices */
  -webkit-text-size-adjust: 100%;
}

/*
 * 画像の中央寄せ表示するときは、
 * ![Description](filename.svg){: .center }
 * のように記述すれば OK。
 */
.center {
  margin: 0 auto;
  display: block;
}

.maku-breadCrumb {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.maku-pageTitle {
  font-size: 18pt;
  line-height: 1.3;
  padding: 5px 10px;
  box-shadow: 0px 0px 10px #000;
}
.maku-pageTitle_category {
  font-size: 12pt;
}

.maku-pageDate {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

/* 段組 */
#maku-container {
  /* フレキシブルボックスレイアウトによる段組 */
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;

  #maku-container_main {
    /* 画面幅が広い時はこの要素の横幅を拡張する */
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
  }

  #maku-container_sidebar {
    width: 200px;
    padding: 0px 30px;
  }
}

/* レスポンシブデザイン対応。幅が狭い場合は sidebar は非表示 */
@media screen and (max-width: 800px) {
  #maku-container {
    display: block;

    #maku-container_sidebar {
      display: none;
    }
  }
}

.maku-content {
  clear: both;
}

.maku-content-multi {
          column-width: 400px;
     -moz-column-width: 400px;
  -webkit-column-width: 400px;
          column-rule: dotted 2px #ccc;
     -moz-column-rule: dotted 2px #ccc;
  -webkit-column-rule: dotted 2px #ccc;
}

.maku-htmlSample {
  margin: 1em 2em;
}

/* ナビゲーションメニュー */
.maku-nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    display: block;
    text-decoration: none;
    padding: 0 0.5em;
  }
  .maku-nav-focused {
    background: $COLOR_NAV_FOCUSED;
  }
}

/* column-span は Safari でうまく表示できない */
/*
h1 {
  column-span: all;
  -moz-column-span: all;
  -webkit-column-span: all;
}
*/

li {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.maku-widget {
  clear: both;
  text-align: center;

  margin-top: 10px;
  padding-top: 10px;
  border-top: dotted 1px gray;
}

h1, h2, h3, h4 { font-weight: bolder; margin: 1em 0; }
h1 { font-size: 18pt; border-bottom: 2px solid black; padding: 5px 0px; }
h2 { font-size: 16pt; border-bottom: 1px solid black; padding: 2px 0px; }
h3 { font-size: 14pt; }
h4 { font-size: 12pt; }

a {
  font-weight: bolder;
  text-decoration: none;
  /* border-bottom: dashed 1px; */
}
a:hover {
  text-decoration: none;
}

img { max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 10px;
}
thead th, thead td {
  white-space: nowrap;
}
th, td {
  padding: 3px;
  border: solid 1px #999;
}

/* Adjust margins */
p {
  margin-top: 1em;
}

blockquote {
  margin-left: 1em;
}

blockquote > p {
  margin: 0;
}

dd {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

strong {
  font-style: normal;
  font-weight: bold;
}

/*
 * Color theme
 */
body { color: #666; }
.maku-pageTitle { color: #fdd; background-color: darkred; }
.maku-pageTitle_category { color: #faa; }
.maku-pageDate { color: #666; }
h1, h2, h3, h4 { color: black; }
strong { color: darkred; }
code { color: #333; background-color: #f6f6f6; }
thead th, thead td { color: #555; background-color: #ccc; }
tr:nth-child(odd) { background-color: #fcfcfc; }
tr:nth-child(even) { background-color: #eeeeee; }

a:link { color: #36f; } /* 未訪問 */
a:visited { color: #03c; } /* 訪問済 */
a:hover { background-color: $COLOR_LINK_HOVER; } /* マウスフォーカス */
a:focus { background-color: #fdd; } /* 選択中 */

/*
a:link { color: #33f; }
a:visited { color: #909; }
a:hover { background-color: #cfa; }
a:focus { color: hotpink; }
a:active { color: #ccf; background-color: #f36; }
*/

