.accordion {
  /* タイトル */
  &__title {
    display: block;
    padding: 0.5rem 0.7rem;
    background: #ddd;
    cursor: pointer;
    &::before {
      font-size: smaller;
      color: #666;
      content: "▶";
      padding-right: 0.5em;
    }
    &::after {
      font-size: smaller;
      color: #999;
      content: "（クリックで表示）";
    }
    &:hover {
      background: #ccc;
    }
  }

  &__body {
    display: none;  /* デフォルトでは本文は非表示 */

    /* 本文の共通設定 */
    border: solid lightgray 1px;
    padding: 0.5rem;
  }

  input {
    display: none;  /* チェックボックスは非表示 */

    /* ラベルをクリックしたら記号を変更 */
    &:checked + .accordion__title::before {
      content: "▼";
    }

    /* ラベルをクリックしたら後ろのガイド文を変更 */
    &:checked + .accordion__title::after {
      content: "（クリックで非表示）";
    }

    /* ラベルをクリックしたら本文を開く（表示） */
    &:checked ~ .accordion__body {
      display: block;
    }
  }
}

