.article {
  &__header {
  }

  &__snsButtons {
    text-align: right;
  }

  &__date {
    text-align: right;
  }

  &__footer {
    margin-top: 1.5rem;
  }

  &__body {
    margin-top: 1.5rem;
    h2 {
      color: $COLOR_PRIMARY_CONTRAST_TEXT;
      background: $COLOR_PRIMARY;
      padding: 0.2em 0.5em;

      /* グラデーション（右、下、ぼかし、広がり） */
      box-shadow: 0px 0px 2px 1px mix($COLOR_PRIMARY, white, 70%);
      border-radius: 0.1rem;
    }

    // 記事内のブロック要素間の基本マージン（基本的にトップレベルのボックス要素にのみ適用）
    > * + *, .xNote_body > * + *, .xAccordion_body > * + * {
      margin-top: 1.5em;
    }

    > .xNote {
        margin-top: 2.5em;
    }

    // h1 〜 h6 の上には広めにマージンを入れるが、
    // h2 の直後に h3 があるような場合は通常のマージンとする。
    // (2022-10-02)
    //   アンカータグを h2 などの上に自動挿入するようにしたら、
    //   隣接セレクターでは判断できなくなってしまった。。。
    //> h1, h2:not(h1 + h2), h3:not(h2 + h3), h4:not(h3 + h4), h5:not(h4 + h5), h6:not(h5 + h6) {
    //  margin-top: 2em;
    //}
  }

  // インデックスページ用（リンクを横幅いっぱに伸ばす）
  &__body-categoryIndex {
    li a {
      display: block;
    }
  }
}

