.header {
  display: flex;
  background: $COLOR_PAGE_TITLE_BG;
  padding: 1rem var(--s1) 0.5rem;

  /* グラデーション（右、下、ぼかし、広がり） */
  box-shadow: 0px 0px 0.5rem 0.5rem $COLOR_PAGE_TITLE_BG;

  &__icon {
    width: 4rem;
    height: 4rem;
    padding: 0.2rem;
    background: #ffeeee;
    border-radius: 0.5rem;
  }

  &__right {
    margin: 0.3rem 0.5rem;
  }

  &__category {
    display: block;
    font-size: 1.1rem;
    a {
      color: $COLOR_PAGE_TITLE_CATEGORY;
      background: none !important // マウスホバー時に背景色が変わらないように
    }
  }

  &__title {
    color: $COLOR_PAGE_TITLE;
    font-size: 1.5rem;
  }

  &__categoryTitle {
    font-size: 2.1rem;
    margin-left: 0.3rem;
    a {
      font-weight: normal;
      color: $COLOR_PAGE_TITLE;
      &:hover {
        background: transparent !important;
      }
    }
  }
}

