.navigation {
  &__header {
    color: $COLOR_TEXT_SUB;
    border-bottom: 1px $COLOR_TEXT_SUB solid;
    font-size: 1.2rem;
    font-weight: bolder;
  }

  ul {
    margin-top: 0.5rem;
    list-style: none;
    padding: 0;
  }

  &__item {
    display: block;
    padding: 0 0.5em;
    border-radius: 1em;
  }

  &__item--focused {
    background: #eee;
  }
}
