// note 囲い {{% note title="タイトル" %}}本文{{% /note %}}
.note {
  $color: $COLOR_PRIMARY;
  margin-top: 2.5em;  // 強引な調整

  position: relative;
  border: solid 2px $color;
  border-radius: 0.5em;
  padding: 1.5em 1em 1em 1em;

  position: relative;
  border: solid 2px $color;
  border-radius: 0.5em;
  padding: 1.5em 1em 1em 1em;

  &__title {
    border-radius: 0.3em;
    position: absolute;
    display: inline-block;
    top: -1em;
    left: 0.8em;
    padding: 0 0.5em;
    background: $color;
    color: white;
    font-weight: bold;
  }
}
