@charset "UTF-8";

// Reset
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN';
  // font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Arial, "メイリオ", Meiryo, sans-serif;
  line-height: 1.7;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;  // Keep font size when lotating screen in Android devices
  -webkit-font-smoothing: antialiased;
  // letter-spacing: 0.05em;
}

body {
  color: $COLOR_TEXT;
  background: $COLOR_BG;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

strong {
  font-weight: bolder;
  color: $COLOR_TEXT_STRONG;
}

// 外部リンクアイコン
.xExternalLinkIcon::after {
  content: url("../img/common/external-icon.png");
  padding-left: 3px;
  padding-right: 5px;
}

// 上のフォルダへ戻る
.xArticle_up {
  margin-top: 1.5em;
  text-align: center;
  a {
    &:not(:hover) {
      color: $COLOR_SITE;
      background: $COLOR_SITE_LIGHT;
    }
    &:hover {
      color: $COLOR_SITE_LIGHT;
      background: $COLOR_SITE;
    }
    display: inline-block;
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    //border: solid 1px $COLOR_SITE;
  }

  &_label {
    font-size: larger;
    &::before {
      content: '\1f4c1';
    }
  }
}

// Google AdSense を印刷時に非表示にする
.adsbygoogle {
  @media print { display: none !important; }
}

//
// Maku's Sass library (Mixins)
//
@mixin m-clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin m-box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  box-shadow: $shadows;
}

