// Color definitions
$COLOR_SITE: black !default;
$COLOR_SITE_LIGHT: mix(white, $COLOR_SITE, 90%) !default;
$COLOR_TEXT: #222 !default;
$COLOR_TEXT_STRONG: #e48 !default;
$COLOR_BG: white !default;
//$COLOR_BG_STRONG: #ffefdf;
//$COLOR_HEADER_TEXT: #ddd;
//$COLOR_PRIVATE: #f03;
//$COLOR_LINK_HIGHLIGHT: #36f;
//$COLOR_LINK_HIGHLIGHT_TEXT: white;
$COLOR_CODE: #333;
$COLOR_CODE_BG: #f6f6f6;

//
//// Layout definitions
//$BASE_PADDING: 1rem;
$FONT_CODE: Menlo, Monaco, Consolas, "Courier New", monospace !default;
//$MAIN_PADDING: 1rem;
//$MAIN_PADDING_SMALL: 0.5rem;

// スクリーンサイズ中
@mixin screen-size-1 {
  @media (min-width: 35rem) { @content; }
}

// スクリーンサイズ大
@mixin screen-size-2 {
  @media (min-width: 50rem) { @content; }
}

// スクリーンサイズ極大
@mixin screen-size-3 {
  @media (min-width: 65rem) { @content; }
}

