<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <style>
    * { margin: 0 }
    .pane {
      box-sizing: border-box;
      height: 100vh;
      padding: 10px;
    }
    .pane-left {
      float: left;
      width: 150px;
      background: #f9c;
    }
    .pane-right {
      margin-left: 150px;
      background: #9fa;
    }
  </style>
  <title>box-sizing のデモページ２</title>
</head>
<body>

<div>
  <div class="pane pane-left">Left (150px)</div>
  <div class="pane pane-right">Right</div>
</div>

</body>
</html>
