.l-pageHeader {
  margin-bottom: var(--s1);
}

.l-withSidebar {
  display: flex;
  flex-wrap: wrap;
  // gap: 1rem;

  &__sidebar {
    @media print { display: none; }  // 印刷時は非表示
    border-left: solid #ddd 1px;
    padding: 1rem 0.5rem;
    flex-basis: 14rem;  // サイドバーの幅
    flex-grow: 1;
  }

  &__content {
    padding: var(--s1);
    flex-basis: 0;
    flex-grow: 999;
    min-width: 73%;  // 要素の幅が狭くなったときに折り返す
  }
}

