<style>
/* codoc サポートボタン用スタイル */
.codoc-support {
  display: inline-block;
  margin: 0 !important;
  padding: 12px !important;
  width: 400px;
  max-width: 100%;
  /* background: gray !important; */
}
.codoc-support .codoc-support-title {
  font-size: smaller !important;
  white-space: nowrap;
  margin-bottom: 12px !important;
}
.codoc-support .codoc-btn {
  width: 180px !important;
}
</style>
<script src="https://codoc.jp/js/cms.js" data-css="black" data-usercode="tp6ZPzTj3w" charset="UTF-8" defer></script>
