<!-- MathJax -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script type="text/javascript" src="/assets/js/fix-sidebar.js"></script>

<!-- maku-common.js -->
<script>
$(function() {
  // 外部リンクを必ず新しいタブで開く
  $('a[href^=http]').attr('target', '_blank');

  // 外部リンクにクラス属性を付加する
  var $content = $('.xContent');
  $content.find('a[href^="http"]:not(:has(img))').addClass("xExternalLinkIcon");
});
</script>

