<!-- MathJax -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script type="text/javascript" src="/assets/js/fix-sidebar.js"></script>

<!-- maku-common.js -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  const content = document.querySelectorAll('.xContent');

  content.forEach(function(item) {
    // 外部リンクを必ず新しいタブで開く
    const externalLinks = item.querySelectorAll('a[href^="http"]');
    externalLinks.forEach(function(link) {
      link.setAttribute('target', '_blank');
      link.setAttribute('rel', 'noopener');
    });

    // 外部リンクにクラス属性を付加する
    const nonImageExternalLinks = item.querySelectorAll('a[href^="http"]:not(:has(img))');
    nonImageExternalLinks.forEach(function(link) {
      link.classList.add('xExternalLinkIcon');
    });
  });
});
</script>
