<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/default.css">
<link rel="stylesheet" href="/css/highlight.css">

<!-- You can use open graph tags to customize link previews.
Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
<meta property="og:url"   content="{{ site.url }}{{ page.url }}" />
<meta property="og:type"  content="website" />
<meta property="og:image" content="{{ site.url }}/img/logo.gif" />
<!-- meta property="og:description" content="Your description" /-->

