<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  -->

  <!-- Maku's style -->
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/highlight.css">

  <title>{{ page.title }} - {{ site.name }}</title>
</head>
