<meta charset="UTF-8">

{% capture og_image %}{{ site.url }}/img/{{ page.category_og_image }}{% endcapture %}

<!-- Google Search Console -->
<meta name="google-site-verification" content="LhFi5Dhj5KOfXR186QkncucRdBpmVd8B19v-7zcAmlY" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
{% if page.description %}
  <meta name="description" content="{{ page.description }}">
{% else %}
  <meta name="description" content="{{ page.category_desc }}">
{% endif %}
<meta name="keywords" content="Android,Awk,Best Practice,C/C++,CSS,Docker,Fintech,Git,GitHub,Gradle,HTML5,Java,JavaScript,Middleman,MetaTrader,MT4,MT5,Perforce,Python,Ruby,Sed,Shell Script,Vim">

<!-- You can use open graph tags to customize link previews.
Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:url"     content="{{ site.url }}{{ page.url }}" />
<meta property="og:type"    content="website" />
<meta property="og:image"   content="{{ og_image }}" />
{% if page.description %}
  <meta property="og:description" content="{{ page.description }}">
{% else %}
  <meta property="og:description" content="{{ page.category_desc }}">
{% endif %}
<meta property="fb:app_id"  content="447708168769292" />

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
-->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/default.css">
<link rel="stylesheet" href="/css/highlight.css">

<!-- Favicons start -->
  <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/img/favicon/favicon.ico"/>
  <!--[if IE]>
  <link rel="shortcut icon" href="favicon.ico"/>
  <![endif]-->
  <!-- Optional: Android & iPhone -->
  <link rel="apple-touch-icon-precomposed" href="/img/favicon/favicon-152.png"/>
<!-- Favicons end -->

<script src="/assets/js/jquery-3.2.1.min.js"></script>

{% include ad-adsense-sdk.html %}
