<meta charset="UTF-8">

<!-- Google Search Console -->
<meta name="google-site-verification" content="LhFi5Dhj5KOfXR186QkncucRdBpmVd8B19v-7zcAmlY" />

<!-- You can use open graph tags to customize link previews.
Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:url"     content="{{ site.url }}{{ page.url }}" />
<meta property="og:type"    content="website" />
<meta property="og:image"   content="{{ site.url }}/img/logo.jpg" />
<meta property="fb:app_id"  content="447708168769292" />
<!-- meta property="og:description" content="Your description" /-->

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/default.css">
<link rel="stylesheet" href="/css/highlight.css">

<!-- Favicons start -->
  <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/img/favicon/favicon.ico"/>
  <!--[if IE]>
  <link rel="shortcut icon" href="favicon.ico"/>
  <![endif]-->
  <!-- Optional: Android & iPhone -->
  <link rel="apple-touch-icon-precomposed" href="/img/favicon/favicon-152.png"/>
<!-- Favicons end -->

