<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

{% capture page_url %}{{ site.url }}{{ page.url }}{% endcapture %}
{% capture page_title %}まくまく{{ page.category_title }}ノート： {{ page.title }}{% endcapture %}

<ul class="xSnsButtons">
  <!-- Twitter -->
  <li class="xSnsButtons_twitter">
    <a rel="nofollow" href="http://twitter.com/share?text={{ page_title }}&url={{ page_url }}"
        onclick="window.open(encodeURI(decodeURI(this.href)), 'tweet_window',
        'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
      <i class="fa fa-twitter"></i><span class="xSnsButtons_label">ツイート</span>
    </a>
  </li>

  <!-- Facebook -->
  <li class="xSnsButtons_facebook">
    <a rel="nofollow" href="http://www.facebook.com/share.php?u={{ page_url }}"
        onclick="window.open(encodeURI(decodeURI(this.href)), 'facebook_window',
        'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
      <i class="fa fa-facebook-square"></i><span class="xSnsButtons_label">シェア</span>
    </a>
  </li>

  <!-- Pocket -->
  <li class="xSnsButtons_pocket">
    <a rel="nofollow" href="http://getpocket.com/edit?url={{ page_url }}"
        onclick="window.open(encodeURI(decodeURI(this.href)), 'pocket_window',
        'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
      <i class="fa fa-get-pocket"></i><span class="xSnsButtons_label">Pocket</span>
    </a>
  </li>

  <!-- Google Plus -->
  <li class="xSnsButtons_google">
    <a rel="nofollow" href="https://plus.google.com/share?url={{ page_url }}"
        onclick="window.open(encodeURI(decodeURI(this.href)), 'google_window',
        'width=400, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
      <i class="fa fa-google-plus"></i><span class="xSnsButtons_label">Google</span>
    </a>
  </li>
</ul>

