---
---
/* vim: set et sts=2 ts=2 sw=2: */
@import "_defines";
@import "_defines-custom";
@import "_common";

$COLOR_HEADER: black;

$COLOR_LINK: #36f;
$COLOR_LINK_VISITED: #03c;
$COLOR_LINK_HOVER_BG: #def;
$COLOR_LINK_FOCUS_BG: #fdd;

$COLOR_PAGE_TITLE: #fdd;
$COLOR_PAGE_TITLE_BG: darkred;
$COLOR_PAGE_TITLE_CATEGORY: #faa;
$COLOR_PAGE_DATE: #666;

$COLOR_THEAD: #555;
$COLOR_THEAD_BG: #ccc;
$COLOR_TR_ODD_BG: #fcfcfc;
$COLOR_TR_EVEN_BG: #eeeeee;

$COLOR_NAV_FOCUSED: #eaeaea;

$VERTICAL_MARGIN: 1em;  // 各要素の上下マージン
$SIDE_MARGIN_DESKTOP: 1.5rem;  // 横幅が広い場合の左右のマージン
$SIDE_MARGIN_MOBILE: 0px;    // 横幅が狭い場合の左右のマージン
$BODY_MARGIN: 0.5rem;  // ヘッダを除く全体のマージン（本文とサイドバー間も）

body {
  padding: 0;
}

#xBody {
  margin: $BODY_MARGIN;
  @include screen-size-1 {
    margin-left: $BODY_MARGIN * 2;
    margin-right: $BODY_MARGIN * 2;
  }
}

// ヘッダー
* + h1, * + h2, * + h3, * + h4, * + h5 {
  margin-top: 1.5em;
}
h1, h2, h3, h4, h5 {
  margin-bottom: 1em;
  color: $COLOR_HEADER;
  font-weight: bolder;
}
h1 {
  padding: 0 0.2em;
  font-size: 1.4rem;
  background: #666;
  color: white;
}
h2 {
  padding: 0 0.2em;
  font-size: 1.3rem;
  border-bottom: 1px solid $COLOR_HEADER;
}
h3, h4, h5 {
  padding: 0;
  @include screen-size-1 {
    margin-left: $SIDE_MARGIN_DESKTOP;
  }
}
h3 { font-size: 1.2rem; }
h4 { font-size: 1.1rem; }
h5 { font-size: 1.0rem; }

// 定義リスト
dl {
  margin: $VERTICAL_MARGIN $SIDE_MARGIN_MOBILE;
  @include screen-size-1 {
    margin-left: $SIDE_MARGIN_DESKTOP;
  }

  dt {
    font-weight: bolder;
    margin: 20px 0px 10px;
  }

  dd {
    margin-left: 1em;
    margin-bottom: 20px;
  }
}

// リンク
a {
  font-weight: bolder;
  text-decoration: none;
  /* border-bottom: dashed 1px; */

  &:link { /* 未訪問 */
    color: $COLOR_LINK;
  }
  &:visited { /* 訪問済 */
    color: $COLOR_LINK_VISITED;
  }
  &:hover { /* マウスフォーカス */
    background-color: $COLOR_LINK_HOVER_BG;
    text-decoration: none;
  }
  &:focus { /* 選択中 */
    background-color: $COLOR_LINK_FOCUS_BG;
  }
}

img {
  /*
   * 画像の中央寄せ表示するときは、
   * ![Description](filename.svg){: .center }
   * のように記述すれば OK。
   */
  &.center {
    max-width: 50vmax;
    max-height: 50vmax;
    display: block;
    margin: 30px auto;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

/* 説明用画像 */
figure {
  display: block;
  border: solid 1px lightgray;
  margin: 1.5em auto;
  background: #f3f3f3;

  /* 横向き画面 */
  @media screen and (orientation: landscape) {
    max-width: 100vh;
  }

  /* 縦向きの画面 */
  @media screen and (orientation: portrait) {
    max-width: 100vw;
  }

  & > img {
    margin: 0px;
    padding: 0px;
  }

  & > figcaption {
    margin: 0;
    padding: 0.5em;
  }

  & > figcaption ul, ol {
    margin: 0;
    padding: 0 0 0 2em;
  }
}

pre {
  font-family: $FONT_CODE;
  margin: $VERTICAL_MARGIN $SIDE_MARGIN_MOBILE;
  @include screen-size-1 {
    margin-left: $SIDE_MARGIN_DESKTOP;
  }

  tab-size: 5;
  -moz-tab-size: 5;

  font-size: 90%;
  padding: 0.5em 0.8em;
  border-radius: 0.5rem;
  overflow-x: auto;
  //white-space: pre-wrap;
  //white-space: break-spaces;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ddd;
  line-height: 1.3;
}

table {
  border-collapse: collapse;
  margin: 30px auto;  /* 左右は中央寄せ */

  thead th, thead td {
    color: $COLOR_THEAD;
    background: $COLOR_THEAD_BG;
    white-space: nowrap;
  }

  tr {
    &:nth-child(odd) { background-color: $COLOR_TR_ODD_BG; }
    &:nth-child(even) { background-color: $COLOR_TR_EVEN_BG; }
  }

  th, td {
    padding: 3px;
    border: solid 1px #999;
  }
}

/* Adjust margins */
p {
  margin-top: 1em;
}

blockquote {
  margin-left: $SIDE_MARGIN_MOBILE;
  @include screen-size-1 {
    margin-left: $SIDE_MARGIN_DESKTOP;
  }

  border-left: solid #ccc 0.3em;
  padding-left: 0.5em;
  font-size: 0.9em;
  font-style: italic;

  & > p {
    margin: 0;
  }
}

samp {
  font-family: arial;
  background: #ddd;
  border-radius: 0.3em;
  padding: 0.2em 0.5em;
}

kbd {
  font-weight: bolder;
  background: #f9feff;
  color: black;
  padding: 3px;
  margin: 0px 0.2em;
  border: solid 1px gray;
  border-radius: 5px;
}

/*
 * ワンポイントを示したいときに
 * <div class="note">...</div>
 * みたいに使う。この中でマークダウンは書けないことに注意。
 */
.note {
  @include m-clearfix;

  margin: $VERTICAL_MARGIN $SIDE_MARGIN_MOBILE;
  @include screen-size-1 {
    margin-left: $SIDE_MARGIN_DESKTOP;
  }

  padding: 10px 0px 10px 0px;
  border-top: 5px dashed #eee;
  border-bottom: 5px dashed #eee;
  &::before {
    content: url("../img/onepoint.png");
    float: left;
  }
}


// HTML の表示サンプルを表示するとき、
// なるべくプレーンな表示を行えるようにする。
// <div class="htmlSample"> ... </div> のように使う。
.htmlSample {
  * { all: unset; }
  p, div, ul, ol, li { display: block; }
  h2 { font-size: 120%; }
  h3 { font-size: 110%; }
  h4 { font-size: 100%; }
  padding: 10px;
  border: solid #ccc 1px;
  background: #ffd;

  margin: $VERTICAL_MARGIN $SIDE_MARGIN_MOBILE;
  @include screen-size-1 {
    margin-left: $SIDE_MARGIN_DESKTOP;
  }
}


//-------------------------------------------------------------------------
// まくまくクラス
//-------------------------------------------------------------------------
.xBreadCrumbContainer {
  @include m-clearfix;
}

.xBreadCrumb {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.xPageDate {
  color: $COLOR_PAGE_DATE;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

.xPageDescription {
  background-color: #f3d3d8;
  background-image: radial-gradient(#f5e2e6 20%, transparent 0), radial-gradient(#f5e2e6 20%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  color: #590c11;

  padding: 10px;

  @include screen-size-1 {
    padding: 20px;
  }
}

/* 段組（本文＋サイドバー） */
#xContainer {
  // デフォルトはコンテンツを単純に表示
  display: block;

  // デフォルトはサイドバー非表示
  &_sidebar {
    display: none;
    @media print { display: none; }  // 印刷時は常に非表示
  }

  // 幅が広いとき
  @include screen-size-2 {
    // 幅が広い場合、フレキシブルボックスレイアウトによる段組
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;

    &_main {
      // 幅が広い時はメイン領域を伸縮させる
      box-flex: 1;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
    }

    // 幅が広い時は sidebar を表示
    &_sidebar {
      display: block;
      margin-left: $BODY_MARGIN;
      width: 200px;
      padding: 0;
      &_ad {
        max-width: 200px;
      }
      &_fixed {
        position: -webkit-sticky;
        position: sticky;
        top: $BODY_MARGIN;
      }
    }
  }
}

/* カテゴリ説明文 */
/*
  .xCategoryIntro {
    margin: 10px 0px 15px 0px;
    padding: 10px 20px;
    background: #fafafa;
    border-radius: 5px;
    color: #333;
  }
*/

.xCategoryDesc {
  margin: 10px 0px 15px 0px;
  padding: 10px 20px;
  background: #fafafa;
  border-radius: 5px;
  color: #333;
}

.xCategoryContent_toc {
  display: none;
}

.xCategoryContent_index {
  ul, ol {
    margin: 0 0 1.5em 0;
    padding-left: 2em;
  }
  li > ul, li > ol {
    // 2階層目以降はインデントを小さく
    padding-left: 1em;
    margin-bottom: 0;
  }
  li a {
    display: block;
  }
  p {
    margin: 0.5em 0.5em 1em 0.5em;
  }

  h1, h2, h3, h4 {
    padding: 0.2em 0.5em;
    border: none;
    margin: 1.5em 0 0.6em 0;
  }
  h1:first-child, h1 + h2, h2 + h3, h3 + h4 {
    margin-top: 0;
  }
  h1 {
    background: #666;
    color: white;
  }
  h2 {
    background: #ddd;
    color: #300;
    background: -prefix-linear-gradient(top, #ddd, white);
    background: linear-gradient(to bottom, #ddd, white);
    border-radius: 10px 10px 0px 0px;
  }
  h3 {
    border-bottom: 1px #ddd solid;
  }
}

@include screen-size-3 {
  .xCategoryContent {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
  }

  .xCategoryContent_toc {
    margin-top: 2rem;
    margin-right: 1rem;
    display: block;
    width: 25%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li:not(:last-child) {
      border-bottom: dashed 1px #ccc;
    }
    li.level-1 {
      padding-bottom: 0.2em;
    }
    li.level-1:not(:first-child) {
      padding-top: 0.5em;
    }
    li.level-1 a {
      font-size: 0.9em;
      font-weight: bolder;
    }
    li.level-2 {
      font-size: 0.9em;
    }
    li.level-3 {
      font-size: 0.8em;
      margin-left: 1rem;
    }
    a {
      padding: 0.4em 0;
      font-weight: normal;
      display: block;
      text-decoration: none;
      &:hover {
      }
    }
  }

  .xCategoryContent_toc_sticky {
    border: solid 1px #ccc;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.5em;
    line-height: 1.3;

    /* スクロール時に上端で固定 */
    position: -webkit-sticky;  /* for Safari */
    position: sticky;
    top: 2rem;  /* 画面上端オフセット */

    /* 縦方向のスクロールバーを表示 */
    max-height: 90vh;
    overflow-y: scroll;

    /* IE などのスクロールバーの色設定 */
    scrollbar-face-color: #999;
    scrollbar-track-color: #eee;

    /* スマホ用の慣性スクロール */
    -webkit-overflow-scrolling: touch;
  }

  .xCategoryContent_index {
    /* 画面幅が広い時はこの要素の横幅を拡張する */
    flex-grow: 1;
    -webkit-flex-grow: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
  }
}

.xContent {
  display: block;

  & > p {
    margin: 1rem $SIDE_MARGIN_MOBILE;
    @include screen-size-1 {
      margin-left: $SIDE_MARGIN_DESKTOP;
    }
  }

  ul, ol {
    padding-left: 1.5em;
    @include screen-size-1 { padding-left: 3em; }
  }

  li {
    // 改行時の行間は狭めつつ、
    line-height: 1.5;
    // 項目間の行間は通常と同じぐらいになるよう調整
    &:nth-child(n+2), li { padding-top: 0.3em; }

    > ul, > ol {
      padding-left: 1.5em;
      @include screen-size-1 { padding-left: 2em; }
    }
  }
}

/* 主に広告ボックス */
.xWidget {
  @media print { display: none; }  // 印刷時非表示

  text-align: center;
  margin: 10px;
  padding-top: 10px;
}

iframe.xHtmlDemo {
  display: block;
  margin: 30px auto;
  width: 50vmax;
  height: 300px;
  max-height: 50%;
  border: solid 2px #aaa;
  resize: both;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

/*
 * xPageHeader（ヘッダ領域）
 */
.xPageHeader {
  @include m-clearfix;

  background: $COLOR_PAGE_TITLE_BG;
  min-height: 70px;
  padding-top: 15px;
  margin-bottom: 30px;

  /* グラデーション */
  background: $COLOR_PAGE_TITLE_BG;
  box-shadow: 0px 0px 20px 20px $COLOR_PAGE_TITLE_BG;

  &_logo {
    float: left;
    margin: 7px;
    padding: 3px;
    width: 65px;
    height: 65px;
    max-width: 20vw;
    max-height: 20vw;
    background: #ffeeee;
    border-radius: 10px;
  }

  &_titleLarge {
    color: $COLOR_PAGE_TITLE;
    font-size: 2rem;
    padding-top: 16px;
    margin: 0;
  }

  &_title {
    background: transparent;
    color: $COLOR_PAGE_TITLE;
    font-size: 1.5rem;
    padding: 0 0.2em 0 0.2em;
    margin: 0;
  }

  &_category {
    color: $COLOR_PAGE_TITLE_CATEGORY;
    font-size: 1.1rem;
    padding-top: 10px;
  }
}

/*
 * xNav（ナビゲーションメニュー）
 */
.xNav {
  margin: $BODY_MARGIN 0;

  &-focused {
    background: $COLOR_NAV_FOCUSED;
  }

  &_header {
    border-bottom: 1px gray solid;
    margin: 0px 0px 8px 0px;
    padding: 0 0 0.2em 0;
    font-size: 1.2rem;
    font-weight: bolder;
    color: black;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 0 0.5em;
  }
}

/*
 * xSnsButtons（SNS ボタンのグループ）
 */
.xSnsButtons {
  @media print { display: none; }  // 印刷時非表示

  margin: 1em 0;
  padding: 0px;
  text-align: center;

  /* 各 SNS ボタンのボックス */
  li {
    display: inline-block;  /* 水平に並べる */
    list-style-type: none;  /* 先頭のポッチを消す */
    margin: 3px 0px;
    padding: 0px;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }

  li a {
    all: initial;  /* リンクハイライトなどの設定をリセット */
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    display: block;
    padding: 6px 0px;
    text-decoration: none;
    color: white;
  }

  /* マウスカーソルを重ねたとき */
  li:hover {
    opacity: 0.7;
  }

  /* クリックしたとき */
  li:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
  }

  /* アイコン部分 */
  i {
    font-size: 18pt;
    min-width: 40px;
    margin: 0px;
    padding: 0px 0px 0px 8px;
    vertical-align: bottom;
  }

  /* テキスト部分 */
  &_label {
    min-width: 80px;
    display: inline-block;
    padding: 0px 8px 4px 0px;
    text-align: center;
    font-size: 12pt;
  }

  /* 各 SNS のブランドカラー */
  &_twitter  { background: #1da1f2; }
  &_facebook { background: #3b5998; }
  &_pocket   { background: #ee4056; }
}

/*
 * xSearchbar
 */
.xSearchBar {
  @media print { display: none; }  // 印刷時非表示

  margin-bottom: 5px;
  text-align: right;

  &_text {
    font-size: 1rem;
    border: solid 1px #db7093;
    color: #db7093;
    background: #fff0fc;
    width: 200px;
    padding: 5px;
  }

  /* placeholder の文字色 */
  &_text:placeholder-shown { color: #db7093; }
  &_text::-webkit-input-placeholder { color: #db7093; }
  &_text::-moz-placeholder { color: #db7093; opacity: 1; }
  &_text:-ms-input-placeholder { color: #db7093; }
  &_text:focus::placeholder { color: transparent; }
  &_text:focus::-webkit-input-placeholder { color:transparent; }
  &_text:focus:-moz-placeholder { color:transparent; }
  &_text:focus::-moz-placeholder { color:transparent; }

  &_button {
    font-size: 1rem;
    background: #db7093;
    color: white;
    border: none;
    padding: 2px 6px 3px;

    &:hover { background: #9370db; }
  }

  input[type=search]:focus {
    background: #f0f8ff;
    font-weight: bolder;
    color: #2040ff;
  }
}

