---
---

/* vim: set et sts=2 ts=2 sw=2: */

$COLOR_MAIN: #666;
$COLOR_HEADER: black;
$COLOR_EMPHASIS: #ff1166; /* #d68; */

$COLOR_LINK: #36f;
$COLOR_LINK_VISITED: #03c;
$COLOR_LINK_HOVER_BG: #def;
$COLOR_LINK_FOCUS_BG: #fdd;

$COLOR_CODE: #333;
$COLOR_CODE_BG: #f6f6f6;

$COLOR_PAGE_TITLE: #fdd;
$COLOR_PAGE_TITLE_BG: darkred;
$COLOR_PAGE_TITLE_CATEGORY: #faa;
$COLOR_PAGE_DATE: #666;

$COLOR_THEAD: #555;
$COLOR_THEAD_BG: #ccc;
$COLOR_TR_ODD_BG: #fcfcfc;
$COLOR_TR_EVEN_BG: #eeeeee;

$COLOR_NAV_FOCUSED: #eaeaea;

$WIDTH_MOBILE: 800px;
$SIDE_MARGIN_DESKTOP: 30px;  // 横幅が広い場合の左右のマージン
$SIDE_MARGIN_MOBILE: 0px;    // 横幅が狭い場合の左右のマージン
$DEFAULT_MARGIN: 20px;  // 代表的要素のマージン

* {
  box-sizing: border-box;
}

body {
  color: $COLOR_MAIN;
  line-height: 1.5;
  letter-spacing: 0.12em;
  /*
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  */
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  font-size: 87.5%;

  /* Keep font size when lotating screen in Android devices */
  -webkit-text-size-adjust: 100%;
}

// 外部リンクアイコン
.externalLinkIcon::after {
  content: url("/assets/img/icon-external-link.png");
  padding-left: 3px;
  padding-right: 5px;
}

// ヘッダー
h1, h2, h3, h4 {
  color: $COLOR_HEADER;
  font-weight: bolder;
  margin: 1.5em $SIDE_MARGIN_DESKTOP 1em 0;

  @media screen and (max-width: $WIDTH_MOBILE) {
    margin-left: $SIDE_MARGIN_MOBILE;
    margin-right: $SIDE_MARGIN_MOBILE;
  }
}

h1 { font-size: 1.4rem; border-bottom: 2px solid $COLOR_HEADER; padding: 5px 0px; }
h2 { font-size: 1.3rem; border-bottom: 1px solid $COLOR_HEADER; padding: 2px 0px; }
h3 { font-size: 1.2rem; }

h4 {
  font-size: 1.1rem;
  margin: $DEFAULT_MARGIN $SIDE_MARGIN_DESKTOP;
  @media screen and (max-width: $WIDTH_MOBILE) {
    margin: $DEFAULT_MARGIN $SIDE_MARGIN_MOBILE;
  }
}

// 定義リスト
dl {
  margin: $DEFAULT_MARGIN $SIDE_MARGIN_DESKTOP;
  color: black;

  @media screen and (max-width: $WIDTH_MOBILE) {
    margin-left: $SIDE_MARGIN_MOBILE;
    margin-right: $SIDE_MARGIN_MOBILE;
  }

  dt {
    font-size: 110%;
    margin: 20px 0px 10px;
  }

  dd {
    margin-left: 1em;
    margin-bottom: 20px;
  }
}

// リスト
ul, ol {
  margin: $DEFAULT_MARGIN $SIDE_MARGIN_DESKTOP;

  @media screen and (max-width: $WIDTH_MOBILE) {
    margin-left: $SIDE_MARGIN_MOBILE;
    margin-right: $SIDE_MARGIN_MOBILE;
  }

  // リストの二階層目以降はマージンを減らす
  ul, ol {
    margin: 0px;
  }

  li {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }
}

// リンク
a {
  font-weight: bolder;
  text-decoration: none;
  /* border-bottom: dashed 1px; */

  &:link { /* 未訪問 */
    color: $COLOR_LINK;
  }
  &:visited { /* 訪問済 */
    color: $COLOR_LINK_VISITED;
  }
  &:hover { /* マウスフォーカス */
    background-color: $COLOR_LINK_HOVER_BG;
    text-decoration: none;
  }
  &:focus { /* 選択中 */
    background-color: $COLOR_LINK_FOCUS_BG;
  }
}

img {
  max-width: 100%;

  /*
   * 画像の中央寄せ表示するときは、
   * ![Description](filename.svg){: .center }
   * のように記述すれば OK。
   */
  &.center {
    max-width: 50vmax;
    max-height: 50vmax;
    display: block;
    margin: 30px auto;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

/* 説明用画像 */
figure {
  display: block;
  border: solid 1px lightgray;
  margin: 1.5em auto;
  background: #f3f3f3;

  /* 横向き画面 */
  @media screen and (orientation: landscape) {
    max-width: 100vh;
  }

  /* 縦向きの画面 */
  @media screen and (orientation: portrait) {
    max-width: 100vw;
  }

  & > img {
    margin: 0px;
    padding: 0px;
  }

  & > figcaption {
    margin: 0;
    padding: 0.5em;
  }

  & > figcaption ul, ol {
    margin: 0;
    padding: 0 0 0 2em;
  }
}

code {
  color: $COLOR_CODE;
  background: $COLOR_CODE_BG;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
}

pre {
  tab-size: 5;
  -moz-tab-size: 5;
  margin: $DEFAULT_MARGIN $SIDE_MARGIN_DESKTOP;

  font-size: 1em;
  padding: 0.5em 0.8em;
  border-radius: 0.5rem;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ddd;
  line-height: 1.3;

  code {
    padding: 0;
    background-color: transparent;
  }

  @media screen and (max-width: $WIDTH_MOBILE) {
    margin-left: $SIDE_MARGIN_MOBILE;
    margin-right: $SIDE_MARGIN_MOBILE;
  }
}

table {
  border-collapse: collapse;
  margin: 30px auto;  /* 左右は中央寄せ */

  thead th, thead td {
    color: $COLOR_THEAD;
    background: $COLOR_THEAD_BG;
    white-space: nowrap;
  }

  tr {
    &:nth-child(odd) { background-color: $COLOR_TR_ODD_BG; }
    &:nth-child(even) { background-color: $COLOR_TR_EVEN_BG; }
  }

  th, td {
    padding: 3px;
    border: solid 1px #999;
  }
}

/* Adjust margins */
p {
  margin-top: 1em;
}

blockquote {
  margin-left: 1em;

  & > p {
    margin: 0;
  }
}

strong {
  color: $COLOR_EMPHASIS;
  font-weight: bold;

  code {
    color: $COLOR_EMPHASIS;
    background: transparent;
  }
}

kbd {
  font-weight: bolder;
  background: #f9feff;
  color: black;
  padding: 3px;
  margin: 0px 0.2em;
  border: solid 1px gray;
  border-radius: 5px;
}

/*
 * ワンポイントを示したいときに
 * <div class="note">...</div>
 * みたいに使う。この中でマークダウンは書けないことに注意。
 */
.note {
  margin: $SIDE_MARGIN_DESKTOP;
  padding: 10px 0px 10px 0px;
  border-top: 5px dashed #eee;
  border-bottom: 5px dashed #eee;
  &:before {
    content: url(../img/onepoint.png);
    float: left;
  }
  &:after {
      content: "";
      clear: both;
      height: 0;
      display: block;
      visibility: hidden;
  }
  @media screen and (max-width: $WIDTH_MOBILE) {
    margin: 30px $SIDE_MARGIN_MOBILE;
  }
}


// HTML の表示サンプルを表示するとき、
// なるべくプレーンな表示を行えるようにする。
// <div class="htmlSample"> ... </div> のように使う。
.htmlSample {
  * { all: unset; }
  p, div, ul, ol, li { display: block; }
  h2 { font-size: 120%; }
  h3 { font-size: 110%; }
  h4 { font-size: 100%; }
  margin: $DEFAULT_MARGIN $SIDE_MARGIN_DESKTOP;
  padding: 10px;
  border: solid #ccc 1px;
  background: #ffd;

  @media screen and (max-width: $WIDTH_MOBILE) {
    margin: $DEFAULT_MARGIN $SIDE_MARGIN_MOBILE;
  }
}


//-------------------------------------------------------------------------
// まくまくクラス
//-------------------------------------------------------------------------
.xBreadCrumb {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.xPageDate {
  color: $COLOR_PAGE_DATE;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

.xPageDescription {
  background-color: #f3d3d8;
  background-image: radial-gradient(#f5e2e6 20%, transparent 0), radial-gradient(#f5e2e6 20%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  color: #590c11;
  padding: 20px;
  margin: $DEFAULT_MARGIN;
  margin-left: 0;

  @media screen and (max-width: $WIDTH_MOBILE) {
    margin-right: 0;
    padding: 10px;
  }
}

/* 段組 */
#xContainer {
  /* フレキシブルボックスレイアウトによる段組 */
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;

  #xContainer_main {
    /* 画面幅が広い時はこの要素の横幅を拡張する */
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
  }

  #xContainer_sidebar {
    width: 250px;
    padding: 0px 0px 0px 10px;

    .xContainer_sidebar_ad {
      margin: 10px;
      max-width: 200px;
    }

    #xContainer_sidebar_fixed {
      position: -webkit-sticky;
      position: sticky;
      top: 1em;
    }
  }

  /* レスポンシブデザイン対応。幅が狭い場合は sidebar は非表示 */
  @media screen and (max-width: $WIDTH_MOBILE) {
    display: block;

    #xContainer_sidebar {
      display: none;
    }
  }
}

/* カテゴリ説明文 */
/*
  .xCategoryIntro {
    margin: 10px 0px 15px 0px;
    padding: 10px 20px;
    background: #fafafa;
    border-radius: 5px;
    color: #333;
  }
*/

.xContent {
  clear: both;

  & > p {
    margin: 10px $SIDE_MARGIN_DESKTOP $DEFAULT_MARGIN $SIDE_MARGIN_DESKTOP;

    @media screen and (max-width: $WIDTH_MOBILE) {
      margin: 10px $SIDE_MARGIN_MOBILE;
    }
  }
}

.xContent-categoryIndex {
  /* マルチカラムレイアウト */
  column-width:         400px;
  -moz-column-width:    400px;
  -webkit-column-width: 400px;
  column-rule:         dotted 2px #ccc;
  -moz-column-rule:    dotted 2px #ccc;
  -webkit-column-rule: dotted 2px #ccc;

  ul, ol {
    margin: 0 0 1.5em 0;
    padding-left: 2em;
  }

  li > ul, li > ol {
    /* 2階層目以降はインデントを小さく */
    padding-left: 1em;
  }

  p {
    margin: 0.5em 0.5em 1em 0.5em;
  }

  /* Full width link */
  li a {
    display: block;
  }
}

.xWidget {
  clear: both;
  text-align: center;
  margin: 10px;
  padding-top: 10px;
}

iframe.xHtmlDemo {
  display: block;
  margin: 30px auto;
  width: 50vmax;
  height: 300px;
  max-height: 50%;
  border: solid 2px #aaa;
  resize: both;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

/*
 * xPageHeader（ヘッダ領域）
 */
.xPageHeader {
  background: $COLOR_PAGE_TITLE_BG;
  box-shadow: 0px 0px 10px #000;
  min-height: 80px;

  &::after {
    content: "";
    clear: both;
    display: block;
  }

  .xPageHeader_logo {
    float: left;
    margin: 7px;
    padding: 3px;
    width: 65px;
    height: 65px;
    background: #ffeeee;
    border-radius: 10px;
  }

  .xPageHeader_titleLarge {
    color: $COLOR_PAGE_TITLE;
    font-size: 2rem;
    padding-top: 16px;
  }

  .xPageHeader_title {
    color: $COLOR_PAGE_TITLE;
    font-size: 1.5rem;
  }

  .xPageHeader_category {
    color: $COLOR_PAGE_TITLE_CATEGORY;
    font-size: 1.1rem;
    padding-top: 10px;
  }
}

/*
 * xNav（ナビゲーションメニュー）
 */
.xNav {
  margin: 10px 0px 10px 10px;

  .xNav-focused {
    background: $COLOR_NAV_FOCUSED;
  }

  .xNav_header {
    border-bottom: 1px gray solid;
    margin: 0px 0px 8px 0px;
    padding: 0 0 0.2em 0;
    font-size: 1.2rem;
    font-weight: bolder;
    color: black;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 0 0.5em;
  }
}

/*
 * xSnsButtons（SNS ボタンのグループ）
 */
.xSnsButtons {
  margin: 5px;
  padding: 0px;
  text-align: center;

  /* 各 SNS ボタンのボックス */
  li {
    display: inline-block;  /* 水平に並べる */
    list-style-type: none;  /* 先頭のポッチを消す */
    margin: 3px 0px;
    padding: 0px;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }

  li a {
    all: initial;  /* リンクハイライトなどの設定をリセット */
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    display: block;
    padding: 6px 0px;
    text-decoration: none;
    color: white;
  }

  /* マウスカーソルを重ねたとき */
  li:hover {
    opacity: 0.7;
  }

  /* クリックしたとき */
  li:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
  }

  /* アイコン部分 */
  i {
    font-size: 18pt;
    min-width: 40px;
    margin: 0px;
    padding: 0px 0px 0px 8px;
    vertical-align: bottom;
  }

  /* テキスト部分 */
  .xSnsButtons_label {
    min-width: 80px;
    display: inline-block;
    padding: 0px 8px 0px 0px;
    text-align: center;
    font-size: 12pt;
  }

  /* 各 SNS のブランドカラー */
  .xSnsButtons_twitter  { background: #1da1f2; }
  .xSnsButtons_facebook { background: #3b5998; }
  .xSnsButtons_pocket   { background: #ee4056; }
  .xSnsButtons_google   { background: #dd4b39; }
}

/*
 * xSearchbar
 */
.xSearchBar {
  clear: both;
  margin-bottom: 5px;
  text-align: right;

  .xSearchBar_text {
    /* border: solid 1px lightgray; */
    /* background: #f6f6f6; */
    border: solid 1px #db7093;
    color: #db7093;
    background: #fff0fc;
    width: 13em;
  }

  /* placeholder の文字色 */
  .xSearchBar_text:placeholder-shown { color: #db7093; }
  .xSearchBar_text::-webkit-input-placeholder { color: #db7093; }
  .xSearchBar_text::-moz-placeholder { color: #db7093; opacity: 1; }
  .xSearchBar_text:-ms-input-placeholder { color: #db7093; }
  .xSearchBar_text:focus::placeholder { color: transparent; }
  .xSearchBar_text:focus::-webkit-input-placeholder { color:transparent; }
  .xSearchBar_text:focus:-moz-placeholder { color:transparent; }
  .xSearchBar_text:focus::-moz-placeholder { color:transparent; }

  .xSearchBar_button {
    /* border: solid 1px lightgray; */
    /* background: #ddd; */
    border: solid 1px #db7093;
    background: #db7093;
    color: white;
    border-radius: 5px;
  }

  input[type=search] {
    padding: 2px;
  }

  input[type=search]:focus {
    background: #f0f8ff;
    font-weight: bolder;
    color: #2040ff;
  }
}

