{{- /* Markdown ファイルのパスを表示 */}}
{{- if .Site.IsServer -}}
<style>
.local-container {
  color: white;
  background: red;
  padding: 0.2em 0.5em;
}
.local-table {
  color: red;
  font-size: 0.8em;
}
.local-table th {
  border: solid 0.5px red;
  background: #fdd;
}
.local-table td {
  border: solid 0.5px red;
  background: white;
}
</style>
<div class="local-container">
  {{- with .File }}{{ .Filename }}{{ end -}}
  <table class="local-table">
    <tbody>
      <tr><th>title</th><td>{{ .Params.title }}</td></tr>
      <tr><th>linkTitle</th><td>{{ .Params.linkTitle }}</td></tr>
      <tr><th>tags</th><td>{{ .Params.tags }}</td></tr>
      <tr><th>aliases</th><td>{{ .Params.aliases }}</td></tr>
      <tr><th>description</th><td>{{ .Description }}</td></tr>
    </tbody>
  </table>
</div>
{{- end }}
