{{- if not .Site.IsServer }}
<style>
/* codoc サポートボタン用スタイル */
.codoc-support {
  display: inline-block;
  margin: 0 !important;
  padding: 12px !important;
  width: 200px !important;
  max-width: 100%;
  /* background: gray !important; */
}
.codoc-support .codoc-support-title {
  font-size: smaller !important;
  white-space: nowrap;
  margin-bottom: 12px !important;
}
.codoc-support .codoc-btn {
  width: 160px !important;
}
</style>

<script src="https://codoc.jp/js/cms.js" data-css="black" data-usercode="tp6ZPzTj3w" charset="UTF-8" defer></script>

<div id="codoc-entry-4gYwTntzzw" class="codoc-entries" data-without-body="1" data-support-button-text="（っ&#039;-&#039;)╮シュッ🔴" data-show-like="0" data-show-about-codoc="0" data-show-powered-by="0" data-support-message="まくに投げ銭できます。"></div>
{{- end }}
