<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <style>
    .container {
      background: blue;
      height: 95vh;
    }
    .left {
      box-sizing: border-box;
      float: left;
      width: 200px;
      height: 100%;
      padding: 10px;
      background: #f9c;
    }
    .right {
      box-sizing: border-box;
      margin-left: 200px;
      height: 100%;
      padding: 10px;
      background: #9fa;
    }
  </style>
  <title>box-sizing のデモページ２</title>
</head>
<body>

<div class="container">
  <div class="left">Left (200px)</div>
  <div class="right">Right</div>
</div>

</body>
</main>
