<!DOCTYPE html>
<html lang="ja">
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb#">
  

  <meta charset="UTF-8">



<!-- Google Search Console -->
<meta name="google-site-verification" content="LhFi5Dhj5KOfXR186QkncucRdBpmVd8B19v-7zcAmlY" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

  <meta name="description" content="ul や ol によるマージン、インデント設定は若干わかりにくいので、ここではいろいろなパターンの表示を確認しながら理解を深めましょう。">

<meta name="keywords" content="Android,Awk,Best Practice,C/C++,CSS,Docker,Fintech,Git,GitHub,Gradle,HTML5,Java,JavaScript,Middleman,MetaTrader,MT4,MT5,Perforce,Python,Ruby,Sed,Shell Script,Vim">

<!-- You can use open graph tags to customize link previews.
Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
<meta property="og:site_name" content="天才まくまくノート" />
<meta property="og:url"     content="https://maku77.github.io/web/layout/list-margin.html" />
<meta property="og:type"    content="website" />
<meta property="og:image"   content="https://maku77.github.io/assets/img/logo-html5.png" />

  <meta property="og:description" content="ul や ol によるマージン、インデント設定は若干わかりにくいので、ここではいろいろなパターンの表示を確認しながら理解を深めましょう。">

<meta property="fb:app_id"  content="447708168769292" />

<link rel="stylesheet" href="/assets/css/default.css">
<link rel="stylesheet" href="/assets/css/highlight.css">

<!-- Favicons start -->
  <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/assets/img/favicon/favicon.ico"/>
  <!--[if IE]>
  <link rel="shortcut icon" href="favicon.ico"/>
  <![endif]-->
  <!-- Optional: Android & iPhone -->
  <link rel="apple-touch-icon-precomposed" href="/assets/img/favicon/favicon-152.png"/>
<!-- Favicons end -->

<script src="/assets/js/jquery-3.2.1.min.js"></script>


  <!-- Google Ad Manager -->
  <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
<script>
  window.googletag = window.googletag || {cmd: []};
  googletag.cmd.push(function() {
    googletag.defineSlot('/22026661446/maku77-sidebar', [200, 200], 'div-gpt-ad-1590069504630-0').addService(googletag.pubads());
    googletag.pubads().enableLazyLoad();
    googletag.enableServices();
  });
</script>


  <!-- Codoc 投げ銭ライブラリ -->
  <style>
/* codoc サポートボタン用スタイル */
.codoc-support {
  display: inline-block;
  margin: 0 !important;
  padding: 12px !important;
  width: 400px;
  max-width: 100%;
  /* background: gray !important; */
}
.codoc-support .codoc-support-title {
  font-size: smaller !important;
  white-space: nowrap;
  margin-bottom: 12px !important;
}
.codoc-support .codoc-btn {
  width: 180px !important;
}
</style>
<script src="https://codoc.jp/js/cms.js" data-css="black" data-usercode="tp6ZPzTj3w" charset="UTF-8" defer></script>


  <!-- Google Analytics -->
  <!-- Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-63069513-1', 'auto');
  ga('send', 'pageview');
</script>



  <meta property="og:title" content="ul や ol によるリスト要素のマージン設定を理解する | まくまくHTML/CSSノート" />
  <title>ul や ol によるリスト要素のマージン設定を理解する - まくまくHTML/CSSノート</title>

  <!-- Ad (Google) -->
  
</head>
<body>

<div class="xPageHeader">
  <a href="/web/">
    <img src="/assets/img/logo-html5.svg" class="xPageHeader_logo">
  </a>
  <a href="/web/">
    <div class="xPageHeader_category">
    まくまくHTML/CSSノート
    </div>
  </a>
  <div class="xPageHeader_title">ul や ol によるリスト要素のマージン設定を理解する</div>
</div>

<div id="xBody">
  

<div class="xBreadCrumbContainer">
  <div class="xBreadCrumb"><a href="/">&#x1F3E0;HOME</a> &gt; <a href="/web/">HTML/CSS</a></div>
  <div class="xPageDate">2018-04-23</div>
</div>

  

  <form action="https://www.google.co.jp/cse" id="cse-search-box">
  <div class="xSearchBar">
    <input type="hidden" name="cx" value="partner-pub-6317852277883092:5930376365" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input class="xSearchBar_text" type="search" name="q" placeholder="ノートを検索できます…" size="55" results="5" autocomplete="off" /><input class="xSearchBar_button" type="submit" name="sa" value="&#128269; 検索 " />
  </div>
</form>



  <div id="xContainer">
    <div id="xContainer_main">
      <!-- SNS ボタン（上） -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">




<ul class="xSnsButtons">
  <!-- Twitter -->
  <li class="xSnsButtons_twitter">
    <a rel="nofollow" href="https://twitter.com/share?text=まくまくHTML/CSSノート： ul や ol によるリスト要素のマージン設定を理解する&url=https://maku77.github.io/web/layout/list-margin.html"
        onclick="window.open(encodeURI(decodeURI(this.href)), 'tweet_window',
        'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
      <i class="fa fa-twitter"></i><span class="xSnsButtons_label">ツイート</span>
    </a>
  </li>

  <!-- Facebook -->
  <li class="xSnsButtons_facebook">
    <a rel="nofollow" href="https://www.facebook.com/share.php?u=https://maku77.github.io/web/layout/list-margin.html"
        onclick="window.open(encodeURI(decodeURI(this.href)), 'facebook_window',
        'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
      <i class="fa fa-facebook-square"></i><span class="xSnsButtons_label">シェア</span>
    </a>
  </li>

  <!-- Pocket -->
  <li class="xSnsButtons_pocket">
    <a rel="nofollow" href="https://getpocket.com/edit?url=https://maku77.github.io/web/layout/list-margin.html"
        onclick="window.open(encodeURI(decodeURI(this.href)), 'pocket_window',
        'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
      <i class="fa fa-get-pocket"></i><span class="xSnsButtons_label">Pocket</span>
    </a>
  </li>
</ul>



      

      <!-- 概要 -->
      
        <div class="xPageDescription">ul や ol によるマージン、インデント設定は若干わかりにくいので、ここではいろいろなパターンの表示を確認しながら理解を深めましょう。</div>
      

      <div class="xWidget">
        
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-6317852277883092"
     data-ad-slot="8099671242"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


      </div>

      <div class="xContent">
        <!-- 本文 -->
        <h2 id="ul-要素と-li-要素の-padding-left">ul 要素と li 要素の padding-left</h2>

<p><img src="/web/layout/list-margin.png" alt="list-margin.png" class="center" /></p>

<p>この図は、<code class="language-plaintext highlighter-rouge">ul</code> 要素（あるいは <code class="language-plaintext highlighter-rouge">ol</code> 要素）の <code class="language-plaintext highlighter-rouge">padding-left</code> の値と、<code class="language-plaintext highlighter-rouge">li</code> 要素の <code class="language-plaintext highlighter-rouge">padding-left</code> の値がどの領域のサイズとして反映されるかを示しています。</p>

<p>特に気をつけなければいけないのは、<code class="language-plaintext highlighter-rouge">ul</code> 要素の <code class="language-plaintext highlighter-rouge">padding-left</code> 値は、<code class="language-plaintext highlighter-rouge">li</code> 要素の描画領域の左端までのサイズになるというところです。
言い換えると、リストマーカー（<code class="language-plaintext highlighter-rouge">・</code>など）の右端までのサイズです。
つまり、<code class="language-plaintext highlighter-rouge">ul</code> 要素の <code class="language-plaintext highlighter-rouge">padding-left</code> の値は、リストマーカーを含んだサイズであることを意識して設定する必要があります。
Chrome では <code class="language-plaintext highlighter-rouge">ul</code> 要素の <code class="language-plaintext highlighter-rouge">padding-left</code> の規定値は 40px になっているようです。</p>

<p>一方で、<code class="language-plaintext highlighter-rouge">li</code> 要素の <code class="language-plaintext highlighter-rouge">padding-left</code> は、リストマーカーの右端から、テキストの左端までの隙間のサイズを表します。
こちらの値は 0 になっていても、特におかしな表示にはなりません。</p>

<h2 id="ul-のインデント設定は-padding-left-で行うのが基本">ul のインデント設定は padding-left で行うのが基本</h2>

<p>下記は、<code class="language-plaintext highlighter-rouge">ul</code> 要素の <code class="language-plaintext highlighter-rouge">padding-left</code> だけを設定した場合の表示デモです（その他の <code class="language-plaintext highlighter-rouge">margin</code> 設定や <code class="language-plaintext highlighter-rouge">padding</code> 設定は 0 です）。
入れ子になった <code class="language-plaintext highlighter-rouge">ul</code> 要素も、それっぽくインデントされていることがわかります。
これが、<code class="language-plaintext highlighter-rouge">ul</code> 要素や <code class="language-plaintext highlighter-rouge">ol</code> 要素に対してインデントサイズを指定するときの基本的な方法です。</p>

<h4 id="表示デモ-1">表示デモ 1</h4>

<iframe class="xHtmlDemo" src="list-margin-demo1.html"></iframe>

<p>表示デモの中の外側の矩形は、<code class="language-plaintext highlighter-rouge">ul</code> 要素を配置する親要素の描画領域を示しています。
<code class="language-plaintext highlighter-rouge">ul</code> 要素の描画領域はピンク背景、<code class="language-plaintext highlighter-rouge">li</code> 要素の描画領域は下線を引くことで、それぞれの要素の位置関係が分かるようにしています。
ここでは <code class="language-plaintext highlighter-rouge">ul { padding-left: 3em; }</code> と指定していますが、このサイズは、上記の表示では、ピンク領域の左端 ～ テキストの下線が始まるところまでのサイズとして表れています。</p>

<div class="note">
サイズの単位として <code>em</code> を使うようにすれば、<code>ul</code> 要素内のフォントサイズを基準にして指定することができます。
</div>

<h4 id="表示デモ-2">表示デモ 2</h4>

<iframe class="xHtmlDemo" src="list-margin-demo2.html"></iframe>

<p><code class="language-plaintext highlighter-rouge">ul</code> 要素の <code class="language-plaintext highlighter-rouge">padding-left</code> を 0 にしてしまうと、上記のように入れ子要素のインデントがなくなり、さらに、リストマーカーを表示する余裕もないので、親要素をはみ出してリストマーカーが表示されてしまいます。
<code class="language-plaintext highlighter-rouge">ul</code> 要素の <code class="language-plaintext highlighter-rouge">padding-left</code> には、余裕を持ったサイズを指定しなければいけないということです。</p>

<h4 id="表示デモ-3">表示デモ 3</h4>

<iframe class="xHtmlDemo" src="list-margin-demo3.html"></iframe>

<p>上記は、<code class="language-plaintext highlighter-rouge">padding-left</code> の代わりに <code class="language-plaintext highlighter-rouge">margin-left</code> を設定した場合の表示デモですが、この方法でもうまくインデントされているかのように見えます。
ただし、<code class="language-plaintext highlighter-rouge">margin</code> プロパティの値は、他の要素と並べて配置した時に、それらの <code class="language-plaintext highlighter-rouge">margin</code> と相殺される性質を持っています。
思わぬ表示位置のずれを防ぐためにも、<strong>ul (ol) の入れ子要素のインデントサイズ指定には <code class="language-plaintext highlighter-rouge">padding-left</code> だけを使う</strong>ことをおススメします。</p>

<p>ちなみに <code class="language-plaintext highlighter-rouge">padding-left</code> と <code class="language-plaintext highlighter-rouge">margin-left</code> を両方設定すると、次のようにインデント幅がものすごく大きくなったように見えます。</p>

<h4 id="表示デモ-4">表示デモ 4</h4>

<iframe class="xHtmlDemo" src="list-margin-demo4.html"></iframe>

<h2 id="li-の-padding-left-は-0-で-ok">li の padding-left は 0 で OK</h2>

<p><code class="language-plaintext highlighter-rouge">li</code> 要素の <code class="language-plaintext highlighter-rouge">padding-left</code> プロパティでは、リストマーカーの右端からテキストの先頭までの距離を設定します。</p>

<p>次の例では、各 <code class="language-plaintext highlighter-rouge">li</code> 要素の <code class="language-plaintext highlighter-rouge">padding-left</code> の値を少しずつ増やしながら表示しています。</p>

<h4 id="表示デモ-5">表示デモ 5</h4>

<iframe class="xHtmlDemo" src="list-margin-demo5.html"></iframe>

<p>入れ子になった <code class="language-plaintext highlighter-rouge">ul</code> 要素は <code class="language-plaintext highlighter-rouge">li</code> 要素の子要素として配置されるため、<code class="language-plaintext highlighter-rouge">li</code> 要素の <code class="language-plaintext highlighter-rouge">padding-left</code> を大きくすると、その下の <code class="language-plaintext highlighter-rouge">ul</code> 要素自体のインデント幅が大きくなったかのように見えます。</p>

<h4 id="表示デモ-6">表示デモ 6</h4>

<iframe class="xHtmlDemo" src="list-margin-demo6.html"></iframe>

<div class="note">
間違えがちですが、<code>ul</code> 要素の直下に <code>ul</code> を配置することはできません。<code>ul</code> 要素の直下には、必ず <code>li</code> 要素を配置する必要があります。
</div>

<h2 id="入れ子になった2階層目以降のul-のインデントだけ小さくする">入れ子になった（2階層目以降の）ul のインデントだけ小さくする</h2>

<p>1階層目の ul のインデントだけ小さくしたいとか、2階層目以降の ul のインデントだけ小さくしたいという場合は、例えば以下のように設定すればよいでしょう。</p>

<div class="language-css highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">ul</span><span class="o">,</span> <span class="nt">ol</span> <span class="p">{</span>
  <span class="nl">padding-left</span><span class="p">:</span> <span class="m">3em</span><span class="p">;</span>
<span class="p">}</span>
<span class="nt">li</span> <span class="o">&gt;</span> <span class="nt">ul</span><span class="o">,</span> <span class="nt">li</span> <span class="o">&gt;</span> <span class="nt">ol</span> <span class="p">{</span>
  <span class="c">/* 2階層目以降はインデントを小さく */</span>
  <span class="nl">padding-left</span><span class="p">:</span> <span class="m">1em</span><span class="p">;</span>
<span class="p">}</span>
</code></pre></div></div>

<p><code class="language-plaintext highlighter-rouge">ul</code> 要素の親要素が <code class="language-plaintext highlighter-rouge">li</code> であることを示すセレクタ (<code class="language-plaintext highlighter-rouge">li &gt; ul</code>) を使用することで、2階層目以降の <code class="language-plaintext highlighter-rouge">ul</code> 要素に対するスタイル設定を行うことができます。</p>

<h4 id="表示デモ-7">表示デモ 7</h4>

<iframe class="xHtmlDemo" src="list-margin-demo7.html"></iframe>

<h2 id="応用画面幅が狭い時にはインデント幅も小さくする">応用：画面幅が狭い時にはインデント幅も小さくする</h2>

<p>リストのインデントを大きくしすぎると、ブラウザの画面サイズが小さいとき（スマホで表示した場合など）に、表示できる文字数が少なくなってしまいます。
このような問題を避けるためには、メディアクエリを使用して、画面サイズごとにインデントサイズを変更するようにします。</p>

<h4 id="css-の例">CSS の例</h4>

<div class="language-css highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">ul</span><span class="o">,</span> <span class="nt">ol</span> <span class="p">{</span>
  <span class="nl">padding-left</span><span class="p">:</span> <span class="m">2em</span><span class="p">;</span>
<span class="p">}</span>
<span class="nt">li</span> <span class="o">&gt;</span> <span class="nt">ul</span><span class="o">,</span> <span class="nt">li</span> <span class="o">&gt;</span> <span class="nt">ol</span> <span class="p">{</span>
  <span class="nl">padding-left</span><span class="p">:</span> <span class="m">1em</span><span class="p">;</span>
<span class="p">}</span>

<span class="c">/* スクリーンサイズが大きいときはインデントも大きく */</span>
<span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="p">:</span> <span class="m">30rem</span><span class="p">)</span> <span class="p">{</span>
  <span class="nt">ul</span><span class="o">,</span> <span class="nt">ol</span> <span class="p">{</span>
    <span class="nl">padding-left</span><span class="p">:</span> <span class="m">3em</span><span class="p">;</span>
  <span class="p">}</span>
  <span class="nt">li</span> <span class="o">&gt;</span> <span class="nt">ul</span><span class="o">,</span> <span class="nt">li</span> <span class="o">&gt;</span> <span class="nt">ol</span> <span class="p">{</span>
    <span class="nl">padding-left</span><span class="p">:</span> <span class="m">2em</span><span class="p">;</span>
  <span class="p">}</span>
<span class="p">}</span>
</code></pre></div></div>

<p>下記の例では、ブラウザの画面サイズが小さいときに、リストのインデント幅も小さくなるように設定しています（フレームの右下をドラッグしたり、<kbd>Ctrl-+</kbd>でフォントサイズを変更したりすると、インデントサイズが変化することを確認できます）。</p>

<h4 id="表示デモ-8">表示デモ 8</h4>

<iframe class="xHtmlDemo" src="list-margin-demo8.html"></iframe>

<h2 id="まとめ">まとめ</h2>

<ul>
  <li>ul (ol) 要素を入れ子にしたときのインデントサイズは ul (ol) 要素の <strong>padding-left</strong> で設定する</li>
  <li>2階層目以降の ul (ol) 要素のインデントサイズだけ変更したい場合は <strong>li &gt; ul</strong> というセレクタを使用する</li>
  <li>margin-left は使用しない</li>
  <li>padding-left の値のサイズとしては <strong>em</strong> を使用するのがおススメ</li>
</ul>


      </div>

      <!-- Ad (楽天) -->
      
        <div class="xWidget"><!-- Rakuten Widget FROM HERE -->
<script>
  /* レスポンシブデザインもどき */
  var SIDEBAR_HIDE_THRESHOLD = 800;
  var SIDEBAR_WIDTH = 250;
  var OFFSET = 10;
  var w = window.innerWidth;
  if (w >= SIDEBAR_HIDE_THRESHOLD) {
    w -= SIDEBAR_WIDTH;
  }
  w -= OFFSET;

  if (w >= 728) {
    rakuten_size="728x200";
  } else if (w >= 600) {
    rakuten_size="600x200";
  } else if (w >= 468) {
    rakuten_size="468x160";
  } else if (w >= 336) {
    rakuten_size="336x280";
  } else if (w >= 300) {
    rakuten_size="300x250";
  } else if (w >= 250) {
    rakuten_size="250x250";
  } else {
    rakuten_size="200x350";
  }

  rakuten_design="slide";
  rakuten_affiliateId="1239b074.74af6526.1239b075.bc72ef6e";
  rakuten_items="ctsmatch";
  rakuten_genreId=0;
  rakuten_target="_blank";
  rakuten_theme="gray";
  rakuten_border="off";
  rakuten_auto_mode="on";
  rakuten_genre_title="off";
  rakuten_recommend="on";
  rakuten_txtColor="333333";
  rakuten_moverColor="30C030";
  rakuten_bgColor="FFFFFF";
  rakuten_captionColor="333333";
</script>
<script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js"></script>
<!-- Rakuten Widget TO HERE -->

</div>
      

      <!-- SNS ボタン（下） -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">




<ul class="xSnsButtons">
  <!-- Twitter -->
  <li class="xSnsButtons_twitter">
    <a rel="nofollow" href="https://twitter.com/share?text=まくまくHTML/CSSノート： ul や ol によるリスト要素のマージン設定を理解する&url=https://maku77.github.io/web/layout/list-margin.html"
        onclick="window.open(encodeURI(decodeURI(this.href)), 'tweet_window',
        'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
      <i class="fa fa-twitter"></i><span class="xSnsButtons_label">ツイート</span>
    </a>
  </li>

  <!-- Facebook -->
  <li class="xSnsButtons_facebook">
    <a rel="nofollow" href="https://www.facebook.com/share.php?u=https://maku77.github.io/web/layout/list-margin.html"
        onclick="window.open(encodeURI(decodeURI(this.href)), 'facebook_window',
        'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
      <i class="fa fa-facebook-square"></i><span class="xSnsButtons_label">シェア</span>
    </a>
  </li>

  <!-- Pocket -->
  <li class="xSnsButtons_pocket">
    <a rel="nofollow" href="https://getpocket.com/edit?url=https://maku77.github.io/web/layout/list-margin.html"
        onclick="window.open(encodeURI(decodeURI(this.href)), 'pocket_window',
        'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
      <i class="fa fa-get-pocket"></i><span class="xSnsButtons_label">Pocket</span>
    </a>
  </li>
</ul>



      
      <div class="xArticle_up">
        <a href="/web/"><span class="xArticle_up_label">まくまくHTML/CSSノート</span><br>へ戻る</a>
      </div>

    </div>

    <div id="xContainer_sidebar"><style>
.local-logo {
  position: relative;
  border: none;
  background: none;
}
.local-logo img {
  width: 100%;
  vertical-align: bottom;
  border: none;
  border-radius: 15px;
}
.local-logo figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12pt;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px 15px 0 0;
}
</style>

<div id="xContainer_sidebar_notFixed">
  <div data-sticky><nav class="xNav">
  <div class="xNav_header">カテゴリ一覧</div>
  <ul>
        <li><a href="/memo/">いろいろ</a>
        <li><a href="/android/">Android</a>
        <li><a href="/ansible/">Ansible</a>
        <li><a href="/blender/">Blender</a>
        <li><a href="/cpp/">C/C++</a>
        <li><a href="/docker/">Docker</a>
        <li><a href="/git/">Git</a>
        <li><a href="/go/">Go言語</a>
        <li><a href="/gradle/">Gradle</a>
        <li class="xNav-focused"><a href="/web/">HTML/CSS</a>
        <li><a href="/hugo/">Hugo</a>
        <li><a href="/java/">Java</a>
        <li><a href="/js/">JavaScript</a>
        <li><a href="/kotlin/">Kotlin</a>
        <li><a href="/linux/">Linux/Shell</a>
        <li><a href="/mac/">Mac</a>
        <li><a href="/middleman/">Middleman</a>
        <li><a href="/mt/">Meta Trader</a>
        <li><a href="/nodejs/">Node.js</a>
        <li><a href="/octave/">Octave</a>
        <li><a href="/p4/">Perforce</a>
        <li><a href="/perl/">Perl</a>
        <li><a href="/php/">PHP</a>
        <li><a href="/python/">Python</a>
        <li><a href="/r/">R</a>
        <li><a href="/ruby/">Ruby</a>
        <li><a href="/sass/">Sass</a>
        <li><a href="/sed/">sed/awk</a>
        <li><a href="/sql/">SQL</a>
        <li><a href="/tradestation/">トレードステーション</a>
        <li><a href="/vagrant/">Vagrant</a>
        <li><a href="/vba/">VBA</a>
        <li><a href="/vim/">Vim</a>
        <li><a href="/windows/">Windows</a>
  </ul>
</nav>

</div>

  
    <div data-sticky class="xContainer_sidebar_ad">
      <div style="text-align: right">
  <div id="codoc-entry-4gYwTntzzw" class="codoc-entries" data-without-body="1" data-support-button-text="（っ&#039;-&#039;)╮シュッ=͟͟͞͞ 💵" data-show-like="0" data-show-about-codoc="0" data-show-powered-by="0" data-support-message="まくに投げ銭できます。"></div>
</div>

    </div>
    <div data-sticky class="xContainer_sidebar_ad">
      
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- まくノート_サイド矩形 (200x200) -->
<ins class="adsbygoogle"
     style="display:inline-block;width:200px;height:200px"
     data-ad-client="ca-pub-6317852277883092"
     data-ad-slot="4284289561"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


    </div>
    <div data-sticky class="xContainer_sidebar_ad">
      <!-- /22026661446/maku77-sidebar -->
<div id='div-gpt-ad-1590069504630-0' style='width: 200px; height: 200px;'>
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1590069504630-0'); });
  </script>
</div>

    </div>
  

  <div data-sticky class="xContainer_sidebar_ad">
    <a href="/">
      <figure class="local-logo">
        <img src="/assets/img/kuma_inu.jpg">
        <figcaption>天才まくまくノート</figcaption>
      </figure>
    </a>
  </div>

  <div data-sticky><form action="https://www.google.co.jp/cse" id="cse-search-box">
  <div class="xSearchBar">
    <input type="hidden" name="cx" value="partner-pub-6317852277883092:5930376365" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input class="xSearchBar_text" type="search" name="q" placeholder="ノートを検索できます…" size="55" results="5" autocomplete="off" /><input class="xSearchBar_button" type="submit" name="sa" value="&#128269; 検索 " />
  </div>
</form>

</div>
</div>
<div id="xContainer_sidebar_fixed"></div>

</div>
  </div>

  <!-- <div class="xPageFooter"> -->
    

<div class="xBreadCrumbContainer">
  <div class="xBreadCrumb"><a href="/">&#x1F3E0;HOME</a> &gt; <a href="/web/">HTML/CSS</a></div>
  <div class="xPageDate">2018-04-23</div>
</div>

  <!-- </div> -->
</div>

  <!-- MathJax -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script type="text/javascript" src="/assets/js/fix-sidebar.js"></script>

<!-- maku-common.js -->
<script>
$(function() {
  var $content = $('.xContent');
  // 外部リンクを必ず新しいタブで開く
  $content.find('a[href^=http]').attr('target', '_blank').attr('rel', 'noopener');
  // 外部リンクにクラス属性を付加する
  $content.find('a[href^=http]:not(:has(img))').addClass("xExternalLinkIcon");
});
</script>


</body>
</html>
