<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <style>
    div {
      height: 25px;
      width: 300px;
      padding: 10px;
      margin: 5px;
      background: #adf;
    }
    .relative {
      position: relative;
      top: 20px;
      left: 100px;
      background: pink;
    }
  </style>
  <title>position: relative のデモページ</title>
</head>
<body>

<main>
  <div>通常の div 要素</div>
  <div>通常の div 要素</div>
  <div>通常の div 要素</div>
  <div class="relative">position: relative で移動した div 要素</div>
  <div>通常の div 要素</div>
</main>

</body>
</html>
