<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <style>
    .header {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 40px;
      margin: 0px;
      background: pink;
      font-size: 20pt;
      text-align: center;
    }
    main {
      margin-top: 50px;
    }
  </style>
  <title>position: fixed のデモページ</title>
</head>
<body>

<div class="header">
  position: fixed で位置を固定したサイトヘッダー
</div>

<main>
  <p>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
  </p>
  <p>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
  </p>
  <p>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
    これはダミーの本文です。<br>これはダミーの本文です。<br>これはダミーの本文です。<br>
  </p>
</main>

</body>
</main>
