<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <style>
    .parent {
      position: relative;
      margin: 30px;
      height: 200px;
      width: 400px;
      background: #adf;
      font-size: 20pt;
      text-align: center;
    }
    .child {
      position: absolute;
      bottom: 0px;
      right: 0px;
      background: pink;
      height: 70px;
      width: 150px;
    }
  </style>
  <title>position: absolute のデモページ</title>
</head>
<body>

<div class="parent">
  親要素
  <div class="child">子要素</div>
</div>

</body>
</html>
