{{- $pageTitle := partial "functions/get-page-title" . -}}
<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>{{ $pageTitle }}</title>
  {{ partialCached "head/adsense" . -}}
  {{ partialCached "head/favicon" . -}}
  {{ partial "head/analytics" . -}}
  {{ partial "head/ogp" . -}}
  {{ $style := resources.Get "css/all.scss" | toCSS | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ block "head" . }}{{ end -}}
</head>
<body>

  <div class="l-pageHeader">
    {{- block "header" . }}{{ end }}
  </div>

  <div class="l-withSidebar">
    <div class="l-withSidebar__content">
      {{- block "article" . }}article ブロックが見つかりません。{{ end }}
    </div>
    <div class="l-withSidebar__sidebar">
      {{ partial "blocks/navigation" . }}
    </div>
  </div>
</body>
</html>
