{{ define "header" }}
  {{- partial "blocks/list-header" . }}
{{ end }}
{{- define "article" }}
<article class="article" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="article__header">
    {{ partial "blocks/breadcrumb" . }}
    <div style="text-align: right;">
      {{ partial "mm/sns-buttons" . }}
    </div>
  </div>
  {{- if .Site.IsServer }}
  <div style="border-left: .5em solid red; color: red; padding: 0.3em; margin-top: 2em;">
    <ul style="list-style: none; padding-left: .2em;">
      {{- range (where .Pages ".Draft" true) }}
      <li><a href="{{ .RelPermalink }}">{{ partial "mm/debug-draft-icon" . }}{{ .Title }}</a></li>
      {{- end }}
    </ul>
  </div>
  {{- end }}
  <div class="article__body article__body-categoryIndex">{{ .Content }}</div>
  <div class="article__footer">
    <div style="text-align: right;">
      {{ partial "mm/sns-buttons" . }}
    </div>
    {{ partial "blocks/breadcrumb" . }}
  </div>
</article>

{{- if .Site.IsServer }}
<div style="border-left: .5em solid red; color: red; margin-top: 1em; padding: 0.3em;">
  <b>ページリスト</b>
  <ul style="padding-left: 1.5em;">
    {{- range .Pages }}
    <li><a href="{{ .RelPermalink }}">{{ partial "mm/debug-draft-icon" . }}{{ .Title }}</a></li>
    {{- end }}
  </ul>
</div>
{{- end }}

{{- end }}
