{{ define "header" }}
  {{- partial "blocks/list-header" . }}
{{ end }}
{{- define "article" }}
<article class="article" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="article__header">
    {{ partial "blocks/breadcrumb" . }}
    <div style="text-align: right;">
      {{ partial "mm/sns-buttons" . }}
    </div>
  </div>
  {{- if .Site.IsServer }}
  <div style="color: red; padding: 0.3em; margin: 2em 0; border: dashed 1px red; border-radius: 1em;">
    <b>DRAFT リスト</b>
    <ul>
      {{- range (where .Pages ".Draft" true) }}
      <li>【DRAFT】<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{- end }}
    </ul>
  </div>
  {{- end }}
  <div class="article__body article__body-categoryIndex">{{ .Content }}</div>
  <div class="article__footer">
    <div style="text-align: right;">
      {{ partial "mm/sns-buttons" . }}
    </div>
    {{ partial "blocks/breadcrumb" . }}
  </div>
</article>

{{- if .Site.IsServer }}
<div style="color: red; padding: 0.3em; margin: 2em 0; border: dashed 1px red; border-radius: 1em;">
  <b>ページリスト</b>
  <ul>
    {{- range .Pages }}
    <li>{{ if .Draft }}【DRAFT】{{ end }}<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{- end }}
  </ul>
</div>
{{- end }}

{{- end }}
