{{ define "header" }}
  {{- partial "blocks/header" . }}
{{ end }}
{{ define "article" }}
  <article class="article" itemscope itemtype="https://schema.org/BlogPosting">
    <div class="article__header">
      {{ partial "blocks/breadcrumb" . }}
      <div class="article__snsButtons">
        {{ partial "blocks/sns-buttons" . }}
      </div>
      <div class="article__date">
        {{ partial "blocks/page-date" . }}
      </div>
    </div>
    <div class="article__body">
      {{ .Content }}
    </div>
    <div class="article__footer">
      <div class="article__date">
        {{ partial "blocks/page-date" . }}
      </div>
      <div class="article__snsButtons">
        {{ partial "blocks/sns-buttons" . }}
      </div>
      {{ partial "blocks/breadcrumb" . }}
    </div>
  </article>
{{ end }}
