<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/highlight.css">
  <title>MetaTrader / {{ page.title }} - {{ site.name }}</title>
</head>
<body>
  <div class="page-title">MetaTrader / {{ page.title }}</div>
  <div class="bread"><a href="/">&#x1F3E0;HOME</a> &gt; <a href="/mt/">MetaTrader</a></div>
  <div class="page-date">{{ page.created }}</div>
  <div class="container-fluid">
    {{ content }}
    {% include widget-rakuten.html %}
  </div>
  {% include footer.html %}
</body>
</html>
