<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/highlight.css">
  <title>MetaTrader / {{ page.title }} - {{ site.name }}</title>
</head>
<body>
  <div class="page-title">MetaTrader / {{ page.title }}</div>
  {% include breadcrumb-mt.html %}
  <div class="container-fluid maku-content">
    {{ content }}
    {% include widget-rakuten.html %}
  </div>
  {% include breadcrumb-mt.html %}
</body>
</html>
