<!DOCTYPE html>
<html lang="ja">
<head>
  {% include head.html %}
  <meta property="og:title" content="{{ site.name }}" />
  <title>{{ page.title }}</title>
  <style>
    .siteHeader {
      margin: 12px 0px;
      border: none;
    }
    .siteHeader_title {
      color: #3366ff;
      font-size: 18pt;
      vertical-align: middle;
    }
    .maku-categoryTitle {
      font-size: 14pt;
      font-weight: bolder;
      color: black;
    }
    .maku-categoryDesc {
      font-size: 12pt;
      color: gray;
    }
    .img-thumbnail {
      padding: 5px;
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 10px;
    }
    .maku-categoryLink {
      display: block;
      width: 100%;
      height: 100px;
    }
    a:link {
      border: none;
    }
    a:hover {
      color: white;
      background: #9cf;
    }
    a:active {
      color: white;
      background: #f9c;
    }
    body {
      background: #eee;
    }
  </style>
</head>
<body>
  {% include sns-sdk.html %}
  <div class="container-fluid">
    <h1 class="siteHeader">
      <img src="/img/logo.jpg" width="100px">
      <span class="siteHeader_title">天才まくまくノート</span>
    </h1>
    {% include search-bar.html %}

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/bestpractice/">
          <img class="img-thumbnail" src="/bestpractice/test-pyramid.png">
          <div class="maku-categoryTitle">開発ベストプラクティス</div>
          <div class="maku-categoryDesc">ソフトウェア開発の現場でのあれこれ。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/mt/">
          <img class="img-thumbnail" src="/img/logo-metatrader.png">
          <div class="maku-categoryTitle">MetaTrader</div>
          <div class="maku-categoryDesc">メタトレーダーを使った FX 自動売買（シストレ）プログラミングについて。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/gradle/">
          <img class="img-thumbnail" src="/img/logo-gradle.png">
          <div class="maku-categoryTitle">Gradle</div>
          <div class="maku-categoryDesc">Java の最新のビルドシステム Gradle の使い方。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/docker/">
          <img class="img-thumbnail" src="/img/logo-docker.png">
          <div class="maku-categoryTitle">Docker</div>
          <div class="maku-categoryDesc">アプリケーション実行環境をコンテナ化し、柔軟なデプロイを可能にする Docker の使い方。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/git/">
          <img class="img-thumbnail" src="/img/logo-github.png">
          <div class="maku-categoryTitle">Git/GitHub</div>
          <div class="maku-categoryDesc">Git によるバージョン管理と、GitHub 特有の話もあるよ。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/p4/">
          <img class="img-thumbnail" src="/img/logo-p4.jpg">
          <div class="maku-categoryTitle">Perforce</div>
          <div class="maku-categoryDesc">p4 コマンドや p4v についていろいろ。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/android/">
          <img class="img-thumbnail" src="/img/logo-android.png">
          <div class="maku-categoryTitle">Android</div>
          <div class="maku-categoryDesc">Android スマホアプリ、Android TV の開発に関して。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/sed/">
          <img class="img-thumbnail" src="/img/logo-text.png">
          <div class="maku-categoryTitle">sed/awk</div>
          <div class="maku-categoryDesc">Linux 系のコマンドを用いたテキスト処理いろいろ。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/windows/">
          <img class="img-thumbnail" src="/img/logo-windows.jpg">
          <div class="maku-categoryTitle">Windows</div>
          <div class="maku-categoryDesc">Windows の便利な使い方や、バッチファイルによるプログラミング方法。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/middleman/">
          <img class="img-thumbnail" src="/img/logo-middleman.svg">
          <div class="maku-categoryTitle">Middleman</div>
          <div class="maku-categoryDesc">静的サイトジェネレータ Middleman の使い方。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/web/">
          <img class="img-thumbnail" src="/img/logo-html5.svg">
          <div class="maku-categoryTitle">HTML/CSS</div>
          <div class="maku-categoryDesc">スタイルシートの使い方や、Web 用パーツサンプルなど。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/java/">
          <img class="img-thumbnail" src="/img/logo-java.svg">
          <div class="maku-categoryTitle">Java</div>
          <div class="maku-categoryDesc">Android のおかげで息を吹き返した感のある Java。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/python/">
          <img class="img-thumbnail" src="/img/logo-python.png">
          <div class="maku-categoryTitle">Python</div>
          <div class="maku-categoryDesc">海外で主流のオブジェクト指向言語 Python の使い方。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/ruby/">
          <img class="img-thumbnail" src="/img/logo-ruby.jpg">
          <div class="maku-categoryTitle">Ruby</div>
          <div class="maku-categoryDesc">日本で生まれたオブジェクト指向言語 Ruby の使い方。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/r/">
          <img class="img-thumbnail" src="/img/logo-r.svg">
          <div class="maku-categoryTitle">R</div>
          <div class="maku-categoryDesc">統計解析やグラフプロットに便利な R の入門。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/shell/">
          <img class="img-thumbnail" src="/img/logo-bash.png">
          <div class="maku-categoryTitle">Shell</div>
          <div class="maku-categoryDesc">Bash の操作や Linux シェルプログラミングなど。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/program/">
          <img class="img-thumbnail" src="/img/logo-program.svg">
          <div class="maku-categoryTitle">Program</div>
          <div class="maku-categoryDesc">各種言語の雑多メモ。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="/vim/">
          <img class="img-thumbnail" src="/img/logo-vim.svg">
          <div class="maku-categoryTitle">Vim</div>
          <div class="maku-categoryDesc">素敵なテキストエディタ Vim のメモ。</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="http://hb.afl.rakuten.co.jp/hsc/14722cbc.ad6285bf.14683058.77b4f5eb/?pc=&cmd=shop&me_id=1&category_id=17&item_id=&link_type=pict&image_type=original" target="_blank">
          <img class="img-thumbnail" src="http://hbb.afl.rakuten.co.jp/hsb/14722cbc.ad6285bf.14683058.77b4f5eb/?category_id=17&cmd=shop&image_type=original&item_id=&link_type=pict&me_id=1" border="0">
          <div class="maku-categoryTitle">タイムセール</div>
          <div>いまだけ安い！限定セール中♪</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="http://hb.afl.rakuten.co.jp/hsc/14722fc9.60d0beca.14683058.77b4f5eb/?pc=&cmd=shop&me_id=1&category_id=58&item_id=&link_type=pict&image_type=original" target="_blank">
          <img class="img-thumbnail" src="http://hbb.afl.rakuten.co.jp/hsb/14722fc9.60d0beca.14683058.77b4f5eb/?category_id=58&cmd=shop&image_type=original&item_id=&link_type=pict&me_id=1" border="0">
          <div class="maku-categoryTitle">季節特集</div>
          <div>季節ものの人気商品をチェック♪</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="http://hb.afl.rakuten.co.jp/hsc/14722c02.14ea69a9.14683058.77b4f5eb/?pc=&cmd=shop&me_id=1&category_id=14&item_id=&link_type=pict&image_type=original" target="_blank">
          <img class="img-thumbnail" src="http://hbb.afl.rakuten.co.jp/hsb/14722c02.14ea69a9.14683058.77b4f5eb/?category_id=14&cmd=shop&image_type=original&item_id=&link_type=pict&me_id=1" border="0">
          <div class="maku-categoryTitle">ベストセラー</div>
          <div>おすすめの本を読んで気分転換♪</div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="maku-categoryLink" href="http://memoja.net/">
          <img class="img-thumbnail" src="/img/logo-invest.jpg">
          <div class="maku-categoryTitle">投資で実現！不労所得生活</div>
          <div class="maku-categoryDesc">好きなことをして楽しく暮らしたいなぁ。いっしょに投資の勉強をして不労所得生活を目指そうよ♪</div>
        </a>
      </div>
    </div>

    <div style="text-align: center; margin-top: 30px">
      <a target="_blank" href="http://english.memoja.net/">パックン英検</a>
    </div>

    <div class="maku-widget">
      {% include widget-sns.html %}
    </div>

    <div class="maku-widget">
      {% include widget-adsense-responsive.html %}
    </div>
  </div>
</body>
{% include analytics.html %}
</html>
